MuleMonitor/Service References/MuleSystemService/SystemService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://services.turner.com/architecture/frameworks/mule/2008/05" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SystemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_ISystemService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://services.turner.com/architecture/frameworks/mule/2008/05" location="http://mssondsch02.turner.com/Mule.SystemService/SystemService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="CustomBinding_ISystemService" type="i0:ISystemService">
    <wsp:PolicyReference URI="#CustomBinding_ISystemService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTaskControllers">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/GetAllTaskControllers" style="document" />
      <wsdl:input name="GetAllTaskControllersRequestMessage">
        <soap12:header message="i0:GetAllTaskControllersRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAllTaskControllersResponseMessage">
        <soap12:header message="i0:GetAllTaskControllersResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterTaskController">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/RegisterTaskController" style="document" />
      <wsdl:input name="RegisterTaskControllerRequestMessage">
        <soap12:header message="i0:RegisterTaskControllerRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RegisterTaskControllerResponseMessage">
        <soap12:header message="i0:RegisterTaskControllerResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnregisterTaskController">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/UnregisterTaskController" style="document" />
      <wsdl:input name="UnregisterTaskControllerRequestMessage">
        <soap12:header message="i0:UnregisterTaskControllerRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UnregisterTaskControllerResponseMessage">
        <soap12:header message="i0:UnregisterTaskControllerResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskController">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/UpdateTaskController" style="document" />
      <wsdl:input name="UpdateTaskControllerRequestMessage">
        <soap12:header message="i0:UpdateTaskControllerRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateTaskControllerResponseMessage">
        <soap12:header message="i0:UpdateTaskControllerResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTaskController">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/RemoveTaskController" style="document" />
      <wsdl:input name="RemoveTaskControllerRequestMessage">
        <soap12:header message="i0:RemoveTaskControllerRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoveTaskControllerResponseMessage">
        <soap12:header message="i0:RemoveTaskControllerResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskControllerStatus">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/UpdateTaskControllerStatus" style="document" />
      <wsdl:input name="UpdateTaskControllerStatusRequestMessage">
        <soap12:header message="i0:UpdateTaskControllerStatusRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateTaskControllerStatusResponseMessage">
        <soap12:header message="i0:UpdateTaskControllerStatusResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReleaseTasksForTaskController">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/ReleaseTasksForTaskController" style="document" />
      <wsdl:input name="ReleaseTasksForTaskControllerRequestMessage">
        <soap12:header message="i0:ReleaseTasksForTaskControllerRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextTask">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/GetNextTask" style="document" />
      <wsdl:input name="GetNextTaskRequestMessage">
        <soap12:header message="i0:GetNextTaskRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetNextTaskResponseMessage">
        <soap12:header message="i0:GetNextTaskResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextTaskForPreproccessing">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/GetNextTaskForPreproccessing" style="document" />
      <wsdl:input name="GetNextTaskForPreproccessingRequestMessage">
        <soap12:header message="i0:GetNextTaskForPreproccessingRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetNextTaskForPreproccessingResponseMessage">
        <soap12:header message="i0:GetNextTaskForPreproccessingResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextTaskForPreemption">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/GetNextTaskForPreemption" style="document" />
      <wsdl:input name="GetNextTaskForPreemptionRequestMessage">
        <soap12:header message="i0:GetNextTaskForPreemptionRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetNextTaskForPreemptionResponseMessage">
        <soap12:header message="i0:GetNextTaskForPreemptionResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignTasks">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/AssignTasks" style="document" />
      <wsdl:input name="AssignTaskRequestMessage">
        <soap12:header message="i0:AssignTaskRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AssignTaskResponseMessage">
        <soap12:header message="i0:AssignTaskResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrioritizeTasks">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/PrioritizeTasks" style="document" />
      <wsdl:input name="PrioritizeTasksRequestMessage">
        <soap12:header message="i0:PrioritizeTasksRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PrioritizeTasksResponseMessage">
        <soap12:header message="i0:PrioritizeTasksResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTasksByControllerAndStatus">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/GetTasksByControllerAndStatus" style="document" />
      <wsdl:input name="GetTaskByControllerAndStatusRequestMessage">
        <soap12:header message="i0:GetTaskByControllerAndStatusRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetTaskByControllerAndStatusResponseMessage">
        <soap12:header message="i0:GetTaskByControllerAndStatusResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReprocessAssignmentForTaskController">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/ReprocessAssignmentForTaskController" style="document" />
      <wsdl:input name="ReprocessAssignmentForTaskControllerRequestMessage">
        <soap12:header message="i0:ReprocessAssignmentForTaskControllerRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddQueue">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/AddQueue" style="document" />
      <wsdl:input name="AddQueueRequestMessage">
        <soap12:header message="i0:AddQueueRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddQueueResponseMessage">
        <soap12:header message="i0:AddQueueResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueue">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/GetQueue" style="document" />
      <wsdl:input name="GetQueueRequestMessage">
        <soap12:header message="i0:GetQueueRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetQueueResponseMessage">
        <soap12:header message="i0:GetQueueResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllQueues">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/GetAllQueues" style="document" />
      <wsdl:input name="GetAllQueuesRequestMessage">
        <soap12:header message="i0:GetAllQueuesRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAllQueuesResponseMessage">
        <soap12:header message="i0:GetAllQueuesResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveQueue">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/RemoveQueue" style="document" />
      <wsdl:input name="RemoveQueueRequestMessage">
        <soap12:header message="i0:RemoveQueueRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQueue">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/UpdateQueue" style="document" />
      <wsdl:input name="UpdateQueueRequestMessage">
        <soap12:header message="i0:UpdateQueueRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTasks">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/SearchTasks" style="document" />
      <wsdl:input name="SearchTasksRequestMessage">
        <soap12:header message="i0:SearchTasksRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SearchTasksResponseMessage">
        <soap12:header message="i0:SearchTasksResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetryTask">
      <soap12:operation soapAction="http://services.turner.com/architecture/frameworks/mule/2008/05/ISystemService/RetryTask" style="document" />
      <wsdl:input name="RetryTaskRequestMessage">
        <soap12:header message="i0:RetryTaskRequestMessage_Headers" part="MetaRequest" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RetryTaskResponseMessage">
        <soap12:header message="i0:RetryTaskResponseMessage_Headers" part="MetaResponse" use="literal" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemService">
    <wsdl:port name="CustomBinding_ISystemService" binding="tns:CustomBinding_ISystemService">
      <soap12:address location="http://mssondsch02.turner.com/Mule.SystemService/SystemService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://mssondsch02.turner.com/Mule.SystemService/SystemService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>